<div class="nav-links">
  <a href="/first-astro-project/">Home</a>
  <a href="/first-astro-project/about/" data-astro-reload>About</a>
  <a href="/first-astro-project/blog/">Blog</a>
  <a href="/first-astro-project/tags/">Tags</a>
</div>